@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #FFF587, #FF665A);
}

main{
    background-color: #A3A1A8;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #424144b9;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #774477;
    text-align: center;
    text-shadow: 1px 1px 2px #00000071;
}

h2{
    color: #1b171b;
}

p{
    color: #2e272e;
}