@charset "UTF-8";

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(
        90deg,
        rgb(71, 71, 163), rgb(153, 31, 117)
    );
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
}